body {
    margin:0;
    padding:0 0 0 0;
}

#container {
    width:1190px;
    margin:0 auto;
    padding-top:30px;
    text-align:center;
}

#highscores {
    max-width:820px;
    float:left;
}

#left {
    float:left;
}

.leftbox {
    float:left;
    width:240px;
    margin-right:30px;
    margin-bottom:20px;
    border:1px solid black;
    background-color:#C3E0C3;
    text-align:left;
    clear:both;
}

.createbox {
    margin:0 auto;
    width:400px;
    margin-top:50px;
    border:1px solid black;
    background-color:#C3E0C3;
    text-align:left;
}

p.title {
    margin:0 0 8px 0;
    padding:3px;
    background-color:green;
    color:white;
    font-weight:bold;
    text-align:center;
}

p {
    margin:2px;
}

/* basic changes */
a {color:green;}

.green {
    background-color:#C3E0C3;
}

.found {
    background-color:#fa9f66;
}

tr.clickable {
    cursor:pointer;
}

.hidden {
    display:none;
}